.container {
  opacity: 1;
}


.background {
  opacity: 0.55;
  position: absolute;
}

.main {
  min-height: 30vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome{
  width: 150%;
}

.main h1 {

  left: 100px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.banner {
  display: flex;
  margin-top: 20px;
  margin-left: 50px;
}

#first{
  display: flex;
  width: 100%;
}

.slider {
  opacity: 1;
  width: 55%;
  padding-left: 0px;
  position: relative;
  margin-left: 5%;
  margin-top: 3%;
  box-shadow: 0px 0px 15px 5px black;
  height: 550px;
  border-radius: 20px;

  
}

#slider_image{
  height: 550px;
  width: 800px;
  border-radius: 20px;
}


.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  line-height: 1.15;
  font-size: 2.5rem;
  font-family: serif;
  position: relative;
  width: 30%;
  color: black;

}

.title a {
  font-family: 'Times New Roman', Times, serif;
  padding: 5px 20px 5px 33px;
  background-color: wheat;
  color: black;
  border-radius: 60px;
  text-decoration: none;
  font-weight: 400;
  width: 210px;
  margin-left: -5px;
  box-shadow: 0px 0px 15px 2px black;

}

.title a:hover {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  background-color: blue;
  color: #fafafa;
  text-decoration: none;
  transition: 1s;
  padding: 5px 20px 5px 33px;
}

.title p {
  margin-top: 2px;
  margin-left: 5px;
  font-weight: 400;
  margin-bottom: 20px;
  width: 550px;
}

#description {
  font-style: italic;
  color: #fafafa;
  line-height: 1.5;
  font-size: 1.5rem;
  margin-bottom: 10px;

}

.title,
#description {
  text-align: left;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

#second{
  display: flex;
  flex-direction: row;
}

#Home_map{
  box-shadow: 0px 0px 10px 1px black;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 560px;
  border: 2px solid black;
  background-color: #F0E2D4;
  box-shadow: 0px 0px 15px 5px black;

}

@media screen and (min-width: 350px) {
  .grid {
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    width: 500px;
    margin-left: 50px;
    border: 1px solid wheat;
    border-radius: 45px;
  }
}

@media screen and (min-width: 350px) {
  .card {
    padding: 0.5rem 1rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 520px;
    display: flex;
    background-color: #111;
    margin-left: 50px;
  }
}

.card {
  margin: 1rem;
  padding: 1rem 1.2rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 80%;
  display: flex;
  background-color: #111;
}

#cm {
  background-color: #fafafa;
  color: #111;
}

.card:hover,
.card:focus,
.card:active {
  color: #111;
  border-color: gold;
  background-color: wheat;
  transition: 1s;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1rem;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 200px) {
  .grid {
    width: 80%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}

.footer h3 {
  color: #fafafa;
  padding: 3px 0px 0px 5px;
  font-family: 'Times New Roman', Times, serif;
}

.mainNave {
  width: 100%;
  margin-bottom: 10px;
}

#cart {
  margin-top: -40px;
  font-size: 27px;
  margin-left: 1400px;
  border: 0px;
  color: #000;
}


@media screen and (max-width: 450px) {
  #cart {
    margin-top: -55px;
    font-size: 40px;
    margin-left: 1430px;
    border: 0px;
  }
  #account {
  margin-top: -40px;
  font-size: 40px;
  margin-left: 1360px;
  border: 0px;
  color: #000;
}
}
@media screen and (min-width: 1500px) {
  #cart {
    position: absolute;
    margin-left: 1830px;
    
  }
  
}

#home {
  color: #000;
  background-color: wheat;
}




.mainNave ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 15px;
  margin-top: 10px ;
  background-color: #F0E2D4;
  padding: 10px 0px;
  color: wheat;
  height: 50px;
  border-radius: 15px;
  box-shadow: 0px 0px 8px 1px black;
}

.mainNave ul li {
  font-size: 14px;
  list-style: none;
  margin-top: -3px;
  margin-left:20px;
  font-weight: 700;
  padding: 6px 40px 10px 40px;
  border: 1px solid wheat;
  border-radius: 70px;
  background-color: #e6c8ac;
  height: 120%;
  color: #000;
  box-shadow: 0px 0px 10px -1px black;
}

@media screen and (max-width: 480px) {
  .mainNave ul li {
    margin-top: 0px;
  }
}



.mainNave ul li:hover {
  background-color: wheat;
  color: #111;
  border: 1px solid gold;
  transition: 1s;
}



.mainNave Image {

  display: flex;
  justify-content: left;
  display: none;
}

#mainLogo {
  margin: 0px;
  background-color: #F0E2D4;
  color: wheat;
  height: 90px;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px -10px 15px 2px black;
  
}

#mainLogo ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -50px;
}

#mainLogo ul div {
  padding: 0px 0px;
}


#search {
  padding: 0px;
}

.profile {
  border-radius: 10px;
  position: absolute;
  margin-left: 270px;
  width: 85px;
  margin-top: -11px;

}

.pic {
  border-radius: 10px;
}

.menu {
  background-color: #fafafa;

}

.menu h2 {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: x-large;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 15px 0px;
  margin-bottom: 10px;
  background-color: #fafafa;
  border-bottom: 2px solid #000;
}

.menu h1 {
  display: flex;
  justify-content: center;
}

.carousal {
  height: 100px;
}

.product {
  width: 100%;
  border: 0px solid wheat;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  background-color: #111;
}

.odisha_logo {
  margin-top: -2px;
  margin-right: 50px;
  margin-left: 100px;
  
}

.ormas_logo {
  margin-top: 35px;
  margin-right: 20px;
  
}

.ormas_logo a {
  font-family: 'Times New Roman', Times, serif;
  padding: 10px 40px;
  background-color: wheat;
  color: #111;
  border: 1px solid #000;
  border-radius: 60px;
  text-decoration: none;
  font-weight: 500;
  font-size: 25px;
  margin-left: -70px;
  box-shadow: 0px 0px 5px 0.5px black;

  
}

.kolab_logo {
  margin: 5px 300px 0px 230px;
  border-radius: 30px;
  
}

#kolab_logo {
  border-radius: 20px;
}

.page_title {
  display: flex;
  justify-content: center;
}
.page_title{
  display: flex;
}

#estore_border {
  border: 1px solid wheat;
  border-radius: 0px;
  background-color: #fafafa;
  box-shadow: 0px 1px 20px -6px black;
  color: #000;
}

#estore_content{
  margin-left: 0px;
}

#estore_border:hover {
  background-color: #F0E2D4;
  color: #000;
  transition: 1s;
}

@media screen and (min-width: 780px) {
  #estore_border {
    margin: 5px 10px;
  }
}

#estore_border:hover h2 {
  color: #000;
}

#sidebar {
  border: 1px solid wheat;
  border-radius: 10px;
  font-weight: 800;
  z-index: 9;
  margin-left: 1260px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 600px;
}

#sidebar:hover {
  background-color: #F0E2D4;
  color: #000;
  font-weight: 700;
  transition: 1s;
  border-color:#000;
}

@media screen and (min-width: 1500px) {
  #sidebar {
    position: absolute;
    top:150px; 
    right:0;
  }
}

#history {
  background-color: #111;
}

#product_details {
  width: 100%;
  background-color: #111;
}

#checkout_button
{
  border: 1px solid white;
  
}

#checkout_button:hover
{
  background-color: wheat;
  color: black;
  transition: 1s;
  border-color: #000;
}

#navbar
{
  position: sticky;
}

#checkout_head
{
  margin: 20px 0px;
  padding: 10px 0px;
  background-color: #F0E2D4;
  width: 100%;
}

@media screen and (max-width:450px) {
  #checkout
  {
    width: 60%;
  }
  #checkout_head
  {
    margin-top: 40px;
  }
}

#checkout_details
{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
}

#checkout_title
{
  margin: 0px 0px;
}

@media screen and (max-width:450px) {
  #order
  {
  width: 50%;
  display: flex;
  margin: auto;

}
}

#login
{
  width: 100%;
  margin-top: 0px;
  border: 1px solid wheat;
  border-radius: 100px;
}

#login_ormas_logo
{
  background-color: wheat;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 2px 5px;
  border-radius: 30px;
  font-size: 30px;
  font-weight: 500;
}

#signup
{
  width: 50%;
  margin-top: 0px;
  border: 1px solid wheat;
  border-radius: 100px;
}
@media screen and (max-width:450px) {
  #signup
{
  width: 100%;
  margin-top: 0px;
  border: 1px solid wheat;
  border-radius: 100px;
}

#login_ormas_logo
{
  width: 20%;
  display: flex;
  justify-content: center;
  margin-left: 40%;
}}

#map{
  margin-top: -40px;
  
}

#estore{
  background-color: #E1C4A9;
  color: #000;
  box-shadow: 0px 0px 15px 2px black;

}

.home_row
{
    width: 100%;
    display: flex;
    margin-left: 5px;
    margin-right:5px;
}

#product_carousel
{
  background-color: #D7B18C;
  box-shadow: 0px 0px 10px 1px black;

}


#estore_product
{
  box-shadow: 0px 0px 10px black;
}

#footer
{
  box-shadow: 0px 0px 5px black;
  margin-bottom: 10px;
}

#login_button{
  background-color: #E1C4A9;
  box-shadow: 0px 0px 3px black;
}



/* Responsive View */
@media screen and (max-width:450px) {
  #nav_buttons{
    position:absolute;
    top: 175px;
    right: -1100px;
    font-size: xx-large;
  }

  #nav_buttons button{
    font-size: large;
    font-weight: 700;
  }
  
  .ormas_logo{
    margin-top: 50px;
  }
  .ormas_logo a {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 50px;
  }

  #mainLogo_image{
    width: 130px;
    height: 140px;
  }
  #mainLogo{
    height: 210%;
  }

  .mainNave ul{
    height: 70px;
  }

  .mainNave ul li{
    height: 50px;
    margin: 2px 20px;
    font-size: 25px;
  }

  #estore_border{
    width: 600px;
    margin-top: 40px;
  }
}

